html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face{
    font-family: "logo-text";
    src:
      url("protestrevolution-regular-webfont.woff2") format(woff2),
      url("protestrevolution-regular-webfont.woff") format(woff);
    font-weight: normal;
    font-style: normal;
}




body{
    background-color: rgb(174, 183, 192);

    width: clamp(1024px, 100vw, 1920px);
    height: clamp(768px, 100vh, 1200px);

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    /*for some reason the font stuff only seems to effect the button
    like,  not even em/strong in the html is doing anything to the text, which is decidedly serif-y*/
}


/*contains everything that isn't the very bottom*/
#mainBox{
    display: flex;
    height: 90%;
}

#bottomBox{
    height: 10%;
    background-color: slategrey;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*  */
#leftHalf{
    width: 40%;

    background-image: url("lum3n-scape.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: auto 100%; 

    
}

#logoBox{
    position: relative;
    top: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 15%;

    font-family: logo-text;
    font-size: 4rem;
    color:whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
}

#mtnImg{
    height: 4rem;
    width: 4rem;
}


/*  */
#rightHalf{
    width: 60%;
    background-color: rgb(240, 240, 240);

    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 5%;
}

#upperText{
    font-weight: 600;
    width: 60ch;
    line-height: 1.25;

    font-size: 1.2rem;
}

section{

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 10px 10px -10px rgb(150, 150, 150);
}

#inputGrid{
    display: flex;
    flex-wrap: wrap;

    font-family: 'Courier New', Courier, monospace;

    /* i wanna try to get away from px but for initial setup
    (also i DONT want this grid ever running away off the page entirely is the thing) */
    width: 28rem;
    gap: 20px;
    padding-top: 20px;

    color: rgb(50, 50, 50);
}

label{
    font-size: 0.7rem;
}

input{
    background-color: rgb(252, 252, 252);
    border: solid rgb(220, 220, 220) 1px;

    height: 1.25rem;
    width: 12rem;
    border-radius: 5px;
}

#inputGrid>div{
    width: 12rem;
}

input:focus{
    outline: solid rgb(80, 133, 180) 1px;
    box-shadow: 0 0 2.5px 0px rgb(80, 133, 180);
}

input:invalid{
    outline: solid rgb(226, 47, 47) 1px;
    box-shadow: 0 0 2.5px 0px rgb(226, 47, 47);
}


#upperText, #lowerText, h1, #inputGrid, button{
    margin-left: 45px;
}

button{
    margin-top: 20px;
    width: 10rem;
    height: 2.25rem;
    font-weight: 600;
    color: whitesmoke;
    background-color: rgb(51, 78, 102);
    border: none;
    border-radius: 7px;
    box-shadow: 0 10px 10px -10px rgb(150, 150, 150);
}

button:active{
    background-color: rgb(26, 38, 49);
}

a{
    text-decoration: none;
    color: rgb(51, 78, 102);
    font-weight: 600;
}

.passDiv:has(input:invalid)::after{
    content: "*4-10 characters, at least one number";
    font-size: 0.6rem;
    color: rgb(226, 47, 47);
}